body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3{
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: white;
}

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.h2-text{
  font-size: 3rem;
  line-height: 1.5;
}

#title .container-fluid{ /*specific to title id only*/
  padding: 3% 15% 7%;
  text-align: left;
}

#features{
  padding: 7% 15%;
  position: relative;
   /*default color of background is see through */
  /* z-index: 1; */
}

.feature-title{
  font-size: 1.5rem;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat", san-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  /* transform: rotate(25deg); */
  position: absolute;
  bottom: -240px;
  right: 7%;
}

.title-image-div{
  position: relative;
}

/* Features*/
.feature-col{
  padding: 4.5%;
}

.feature-desc{
  width: 70%;
  margin: auto;
}

.feature-image{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-image:hover{
  color: #ff4c68;
}

/* Testimonials */

#testimonials.colored-section{
  background-color: #ef8172;
}

.carousel-text{
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press.colored-section{
  background-color: #ef8172;
  padding-bottom: 3%;
  color: black;
}

.press-image{
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing */

#pricing{
  padding: 100px;
}

.pricing-title{
  font-size: 1.5rem;
}

.pricing-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 992px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
  }
}

/* Call to Action */
#cta{
  padding: 7% 15%;
}


/* Footer */
#footer{
  padding: 3% 15%;
}

.footer-image{
  padding: 2%;
}

.footer-anchor{
  text-decoration: none;
  color: #ef8172;
}

.footer-anchor:hover{
  color: #ff4c68;
}
